@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
    --from: #6448fe;
    --to: #600594;
    --red: #ff5252;

    --white: #fff;
    --light-grayish: #dedddf;
    --grayish: #8e8593;
    --dark-grayish: #21092f;

    --text: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    width: 100%;
    max-width: 1700px;
    height: 100vh;
    height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    margin: 0 auto;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: start;
}

.right {
    width: 70%;
    height: 100%;
    background-color: var(--white);

    display: grid;
    place-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form {
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: .5rem;
}

label {
    font-size: .9rem;
    color: var(--dark-grayish);
    letter-spacing: 2px;
    font-weight: 500;
}

.form input {
    padding: .7rem 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: 1px solid var(--light-grayish);
    color: var(--dark-grayish);
    font-size: 1rem;
    font-weight: 500;
}

.form input::placeholder {
    color: var(--grayish);
    font-size: 1rem;
}

.form input:not(.date input) {
    width: 100%;
}

.form input:focus {
    outline: 1px solid var(--from);
}

/* .form input:invalid {
    outline-color: var(--red);
    border-color: var(--red);
} */

.date {
    width: 100%;
    margin-bottom: .8rem;

    display: flex;
    justify-content: start;
    gap: 1rem;
}

.date-inputs {
    display: flex;
}
.exp-date-div input {
    margin: .5rem .5rem 0 0;
    width: 8ch;
    padding-inline: .7rem;
}

.cvc-div input {
    width: 100%;
    margin-top: .5rem;
}

.confirm {
    width: 100%;
    margin-left: auto;
    padding: .7rem;
    border-radius: 8px;
    background-color: var(--dark-grayish);
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    user-select: none;
    outline: none;
    border: none;
}

.confirm:hover {
    opacity: .8;
}

.confirm:active {
    background-color: white;
}

.logo {
    user-select: none;
    margin-bottom: 2.5rem;
}

.left {
    width: 30%;
    height: 100%;
    background: linear-gradient(
        315deg,
        var(--dark-grayish) 40%,
        var(--to),
        var(--dark-grayish)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 2rem;
}

.card-front {
    position: relative;
    left: 30%;

    background: url('./images//bg-card-front.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;

    width: 100%;
    height: 240px;
    padding: 2rem;
    color: var(--light-grayish);

    display: flex;
    flex-direction: column;
}

.name {
    text-transform: uppercase;
}

h1 {
    font-size: clamp(1.125rem, 2vw, 2rem);
    letter-spacing: 1px;
    margin-bottom: 1rem;
    margin-top: auto;
}

.card-front-bot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card-front-bot p {
    font-size: clamp(.9rem, 1vw, 2rem);
}

.card-back {
    position: relative;
    left: 50%;
    background: url("./images/bg-card-back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 2px 2px 3px var(--grayish);

    width: 100%;
    height: 240px;
}

.cvc {
    position: absolute;
    right: 3.5rem;
    top: 6.8rem;
    color: var(--white);
    letter-spacing: 1px;
}

@media (max-width: 1070px) {
    main {
        flex-direction: column;
    }

    .left {
        width: 100%;
        height: 30%;
    }

    .card-back,
    .card-front {
        position: absolute;
        width: 80%;
        height: 300px;
        min-height: 300px;
        padding: 2rem;
    }

    .card-front {
        left: 7%;
        top: 12%;
        z-index: 5;
    }

    .card-back {
        left: 13%;
        top: 2%;
    }

    .right {
        width: 100%;
        height: 70%;
    }
}

@media (max-width: 600px) {
    .form {
        width: 90%;
        margin: 0 auto;
    }

    .card-back,
    .card-front {
        height: 180px;
        min-height: 180px;
        padding: 1rem;
    }
}

.invalid {
    outline: 3px solid var(--red) !important;
}